.PushcompDiv {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    padding: 20px;
    box-sizing: border-box;
}

.upDesc {
    margin-bottom: 20px;
    padding: 30px;
    margin-right: 20px;
    margin-left: 50px;
}

.PushForm {
    flex: 1;
    min-height: 0;
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 30px;
    margin-left: 20px;
}

.secComp {
    padding-bottom: 20px;
}

.PushSec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 2px solid rgb(63, 92, 0);
    padding-bottom: 20px;
 }

.PushSec h2 {
    font-size: 15px;
    color: rgb(0, 23, 85);
    margin-top: 15px;
    margin-bottom: 10px;
 }

.PushSec input,
.PushForm label,
.PushForm select,
.PushForm textarea{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: transparent;
}

.PushForm input,
.PushForm textarea{
    border: 1px solid rgb(172, 172, 172);
    padding-inline-start: 8px;
}

.PushSec input:focus,
.PushForm label:focus,
.PushForm select:focus,
.PushForm textarea:focus{
    border: 1px solid rgb(0, 105, 180);
    outline: none;
}

.PushSec button{
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    align-self: center;
    color: white;
    background-color: rgb(0, 50, 130);
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.PushSec button:hover{
    background-color: rgb(0, 70, 182);
}

.SerchBid {
    margin-top: 30px;
}

.SerchBid h2{
    font-size: 15px;
}

.SerchBid input{
    padding: 10px;
    font-size: 14px;
}

.SerchBid button{
    padding: 10px;

}




