.InitialDiv {
    margin-left: 200px;
    margin-right:200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.InitialComp {
    margin: 20px;
    margin-left: 200px;
    margin-right:200px;

}