.navLogo {
    width: 130px;
    height: 30px;
    padding-left: 30px;
}

.navBtns {
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;    
    color: rgb(246, 246, 246);
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    transition: border 0.5s;
}

.navBtns:hover {
    border: 1px solid rgb(86, 86, 86);
}

.navBtnsDiv {
    padding: 20px 10px;
    margin-left: 50px;
}

.navBar {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 9px -6px rgb(59, 59, 59);
    background-color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(183, 183, 183);
}


.UserButton {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 999px;
    background: linear-gradient(135deg, #2f2f2f, #3a3a3a);
    color: #00bbff;
    border: 1px solid rgba(0, 187, 255, 0.35);
    margin-left: auto;
    margin-right: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    transition: 
        background 0.25s ease,
        box-shadow 0.25s ease,
        color 0.2s ease;
}

.UserButton:hover {
    background: linear-gradient(135deg, #353535, #444);
    color: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 187, 255, 0.35);
}

.UserButton:active {
    transform: translateY(0.5);
}


.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    z-index: 50;
}

.sidePanel{
    position: fixed;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100vh;
    background: #1e1e1e;
    color: #fff;
    box-shadow: -4px 0 15px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 60;

    display: flex;
    flex-direction: column;
}

.sidePanel.open{
    right: 0;
}

.panelHeader{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
}

.panelHeader button{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/* Body */
.panelBody{
    padding: 18px;
    flex: 1;
}

.panelBody p{
    margin-bottom: 12px;
    color: #ddd;
}

/* Footer */
.panelFooter{
    padding: 16px;
    border-top: 1px solid #333;
}

.logoutBtn{
    width: 100%;
    padding: 10px;
    background: #ff4d4d;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.logoutBtn:hover{
    background: #ff2f2f;
}
