.navLogo {
    width: 130px;
    height: 30px;
    padding-left: 30px;
}

.navBtns {
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;    
    color: rgb(246, 246, 246);
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    transition: border 0.5s;
}

.navBtns:hover {
    border: 1px solid rgb(86, 86, 86);
}

.navBtnsDiv {
    padding: 20px 10px;
    margin-left: 50px;
}

.navBar {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 9px -6px rgb(59, 59, 59);
    background-color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(50, 50, 50);
}


.UserButton {
    padding: 10px 18px;
    font-size: 15px;
    border-radius: 999px;
    background: linear-gradient(135deg, #2f2f2f, #3a3a3a);
    color: #00bbff;
    border: 1px solid rgba(0, 187, 255, 0.35);
    margin-left: auto;
    margin-right: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    transition: 
        background 0.25s ease,
        box-shadow 0.25s ease,
        color 0.2s ease;
}

.UserButton:hover {
    background: linear-gradient(135deg, #353535, #444);
    color: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 187, 255, 0.35);
}

.UserButton:active {
    transform: translateY(0.5);
}


.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.165);
    z-index: 50;
}

.sidePanel{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: auto;
    background: #f3f3f3;
    color: #fff;
    box-shadow: -4px 0 15px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 60;
    display: flex;
    flex-direction: column;
}

.sidePanel.open{
    right: 0;
}

.panelHeader{
    padding: 10px;
    display: flex;
}


.closeHead{
    display: flex;
}

.closeHead button{
    background: none;
    border: none;
    color: #373737;
    font-size: 20px;
    cursor: pointer;
}

.UserPanel {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 8px;
    background-color: #00445d;
    border: none;
    border-radius: 6px;
}

.panelSide{
    width: 100%;
    height: 100%;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panelBody p {
    font-size: 14px;
    padding: 2px;
}

.panelFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.panelFooter div:first-child {
    color: #00445d;
    font-size: 15px;
    padding: 10px;
}

.panelFooter div:last-child{
    text-align: right;
}

.panelFooter div:last-child button {
    color: #d00000;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    background-color: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    transition: box-shadow 0.3s ease;
}

.panelFooter div:last-child button:hover{
    box-shadow: 1px 1px 1px 1px rgb(221, 221, 221);
}