.navLogo {
    width: 130px;
    height: 30px;
    padding-left: 30px;
}

.navBtns {
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;    
    color: rgb(246, 246, 246);
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    transition: border 0.5s;
}

.navBtns:hover {
    border: 1px solid rgb(86, 86, 86);
}

.navBtnsDiv {
    padding: 20px 10px;
    margin-left: 50px;
}

.navBar {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 9px -6px rgb(59, 59, 59);
    background-color: rgb(41, 41, 41);
    border-bottom: 1px solid rgb(183, 183, 183);
}
