.navLogo {
    width: 130px;
    height: 30px;
    margin-left: 20px;
}

.navBtns {
    width: 70px;
    margin-left: 10px;
    background: none;
    border: none;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    font-size: 14px;
    color: rgb(88, 88, 88);

}

.navBtns:hover {
    border-bottom: 2px solid rgb(129, 192, 255);
}

.navBtnsDiv {
    padding: 20px 10px;
    margin-left: 50px;
}

.navBar {
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 9px -6px rgb(59, 59, 59);
    background-color: aliceblue;
}
