.ProgCompDiv {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    padding: 20px;
    box-sizing: border-box;
}


.projDetSide {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    overflow: hidden;
    margin-right: 50px;
}

.projDetSide h2{
  font-size: 18PX;
}
.projDetSide p{
  font-size: 15px;
}

.projDetSide li{
  font-size: 14px;
  padding: 5px;
}

.MainFormPage {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: 30px;
    justify-content: center;
}

.FormBox {
    box-shadow: 1px 1px 2px 2px rgb(181, 181, 181);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 80%;
}

.FormBox::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.FormBox::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 25px;
}

.FormBox::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}

.FormBox::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.ForminBox{
    padding: 20px;
    border-bottom: 1px solid rgb(187, 187, 187);

}

.InputcompDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: 10px;
    border-left: 1px solid rgb(58, 63, 90);
    border-right: 1px solid rgb(58, 63, 90);
}

.InputcompDiv input,
.InputcompDiv textarea,
.InputcompDiv select,
.InputcompDiv option {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid rgb(0, 56, 197);
    background-color: transparent;

}

.InputcompDiv textarea{
    max-height: 200px;
    font-size: 14px;
    font-family:"Google Sans", Roboto, Helvetica, Arial, sans-serif;
    color: #272727;
}

.InputcompDiv textarea::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.InputcompDiv textarea::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 25px;
}

.InputcompDiv textarea::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}
.InputcompDiv textarea::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

.InputcompDiv input:focus,
.InputcompDiv textarea:focus,
.InputcompDiv select:focus,
.InputcompDiv option:focus {
    outline: none;
    border-color: rgb(0, 42, 150);
    box-shadow: 0 0 0 1px rgb(0, 44, 155);
}


.InputcompDiv input[type="radio"] {
  display: none;
}

.InputcompDiv label {
  cursor: pointer;
  font-size: 15px;
}

.OutCont {
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid rgb(12, 71, 0);
  background-color: transparent;
  overflow: auto;
  max-height: 150px;
}

.OutCont::-webkit-scrollbar {
  width: 8px;
  margin-right: 5px;
}

.OutCont::-webkit-scrollbar-track {
  background: #00000000;
  border-radius: 25px;
}

.OutCont::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 25px;
}
.OutCont::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}


.InputcompDiv label:not(:first-child) {
  padding: 5px 10px;
  border: 1px solid rgb(0, 45, 97);
  border-radius: 10px;
  transition: all 0.2s ease;
  margin: 5px;
}

.InputcompDiv input[type="radio"]:checked + label {
  background: rgb(0, 39, 111);
  color: white;
}

.SendAppButton {
    display: flex ;
    justify-content: center;
}

.SendAppButton button{
    padding: 15px;
    background-color: rgb(0, 50, 124);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.5s ease;
    transition: box-shadow 0.5s ease;
}

.SendAppButton button:hover{
    background-color: rgb(0, 67, 166);
    box-shadow: 1px 1px 5px rgb(56, 56, 56) ;
}
