.CatalogMainWin {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sideBar {
    border-right: 1px solid rgb(218, 218, 218);
    border-top: 1px solid rgb(218, 218, 218);;
    width: 400px;
    min-height: 0;
    overflow-y:scroll;
    overflow-x: hidden;
    padding: 10px;
}

.sideBarIn {
    display: flex;
    background-color: rgb(0, 112, 139);
    border-radius: 2px;
    padding: 10px;
    color: aliceblue;
    margin: 1px;
}

.sideBar::-webkit-scrollbar {
    width: 6px; 
    height: 6px;
}

.sideBar::-webkit-scrollbar-track {
    background: transparent; 
}

.sideBar::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);
    border-radius: 10px;
}
.sideBar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(143, 143, 143);
}
.sideBarIn div {
    font-size: 15px;
}

.sideBarIn button {
    display: flex;
    border-radius: 80px;
    vertical-align: middle;
    border: 1px solid rgb(134, 134, 134);
    padding: 1px;
    margin-left: auto;
    background-color: rgb(255, 243, 222);
    transition: background-color 0.5s ease;
}

.sideBarIn button:hover{
    background-color: rgb(124, 124, 124);
}

.PushImage{
    width: 15px;
    height:15px;
}

.InComp {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 8px;
    font-size: 15px;
    text-align: left;
    transition: background-color 0.5s ease;
    color: rgb(56, 56, 56);
    margin: 1px;
}

.InComp:hover {
    background-color: rgb(0, 97, 177);
    color: white;
}

.MainWin {
    flex: 1px;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 50px;
    border-top: 1px solid rgb(218, 218, 218);
}

.MainSub {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.ItemInitial {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    place-items: center;
    margin-bottom: 20px
}

.ItemInitial div{
    margin-left: 20px;
    color: rgb(87, 134, 0);
}

.ItemAppl {
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin-bottom: 20px
}

.ItemAppl div {
    margin-left: 20px;
    padding: 10px;
}

.ItemHead {
    font-size: 16px;
    color: rgb(0, 22, 117);
}

.ItemPrNo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin-bottom: 20px;
}

.ItemSec {
    margin-left: 20px;
    padding: 10px;
}

.ItemSamp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin-bottom: 20px;
    place-items: center;
}

.ItemSamp div {
    margin-left: 20px;
    padding: 10px;
}

.ItemSampDiv {
    margin-left: 20px;
    padding: 10px;
}

.ItemProcess {
    padding: 20px;
    margin: 10px;
    font-size: 15px; 
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
}

.ItemProcess div {
    margin-left: 20px;
    padding: 10px;
}

.ProcessMap {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    min-width: 0;
}

.ProcessMap div {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    font-size: 15px;
    width: 100%;
}

.ButtonSec{
    padding: 20px;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.ButtonSec button{
    padding: 10px;
    background-color: rgb(0, 104, 173);
    border: none;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s ease;
}

.ButtonSec button:hover{
    background-color: rgb(0, 70, 117);
}