
.SidebarSrch {

}

.SidebarSrch h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.SidebarSrch input {
    margin-bottom: 10px;
    height: 35px;
    width: 90%;
}

.SidebarSrch input:focus {

    border: 1px solid rgb(152, 240, 0);
}


.SidebarProp{
    height: 500px;
    overflow: auto;
    padding: 5px;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 10px;

}

.SidebarProp button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.ViewSideBar {
    border: 1px solid black;
    width: 250px;
    padding: 25px;
    padding-top: 15px;
    height: max-content;

}

.ViewSideBar h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.ViewWin {
    flex: 1;
}

.View {
    display: flex;
    flex-direction: row;
    height:  100%;
    overflow: hidden;
}
