.PushcompDiv {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.PushSec {
    border-radius: 8px;
    padding: 24px 32px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.PushSec h2 {
    font-size: 16px;
    font-weight: 600;
    color: #002a4f;
    padding-bottom: 10px;
}

.PushSec label {
    font-size: 15px;
    font-weight: bold;
    color: #000a69;
}

.PushSec input{
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #cfcfcf;
    border-radius: 6px;
    outline: none;
}


.PushSec input:focus {
    border-color: #005fcc;
    box-shadow: 0 0 0 2px rgba(0, 95, 204, 0.1);
}
