.chatWin {
  height: 100vh;
  display: flex;
  overflow:hidden
}
.chatSideBarComp {
  width: 280px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid rgb(183, 183, 183);
  padding: 20px 10px;
}

.chatNewChatDIV {
    justify-content: center;
    margin-top: 50px;
    height: 40px;
    border: 1px solid rgb(198, 198, 198);
    transition: background-color 0.3s ease;
    border-radius: 15px;
    margin-bottom: 50px;
}

.chatNewChatDIV button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.chatNewChatDIV:hover{
    background-color: rgb(242, 242, 242);
}

.chatHistoryDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chatHistoryDiv h2 {
    font-size: 16px;
    align-self: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-bottom: 10px;
    padding-bottom: 20px;
    border: 1px solid white;
}

.chatHistoryDiv button {
    align-self: center;
    margin-top: 5px;
    margin-bottom:5px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(246, 251, 255);
    transition: background-color 0.5s ease;
    width: 80%;
}


.chatHistoryDiv button:hover {
    background-color: rgb(15, 195, 255);
}

.chatBar {
    padding: 50px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chatMessages {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid rgb(225, 225, 225);
    background-color: transparent;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    height: 60%;
    overflow: auto;
}

.chatMessages::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, 0);
    width: 5px;
}

.chatMessages::-webkit-scrollbar-thumb{
    background-color: rgb(128, 128, 128);
    border-radius: 25px;
}

.chatInputBar{
    align-self: center;
    width: 60%;
    height: 40px;
    margin-top: 50px;
    display: flex;
}

.chatInputBar input{
    align-self: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: white;
    padding-inline-start: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
}

.chatInputBar input:focus {
    border-color: rgb(82, 104, 0) !important;
    outline: none !important;
}

.chatUserMessage {
    align-self: flex-end;
    max-width: 70%;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.chatBotMessage {
    align-self: flex-start;
    max-width: 70%;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #e8ffe9;
}

.InputButton {
    margin-left: 5px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 100%;
    background-color: white;
    transition: border 0.3s ease;
    
}

.InputButton:hover {
    border: 1px solid rgb(122, 222, 255);
    border-radius: 100%; 
}





