body {
  margin: 0px;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgb(36, 36, 36);
  overflow:hidden;
  font-family: "Google Sans", Roboto, Helvetica, Arial, sans-serif;
}
